.GameMenu {
    display: flex;
    margin-top: 3em;
    height: 50vh;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-input {
    height: 1.6em;
    width: 20em;
    min-width: 350px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.instruction-point {
    text-align: center;
}

.username-input:focus {
    outline: none;
}

.username-input::placeholder {
    font-size: 1em;
    color: white;
}

.start-button {
    min-height: 40px;
    min-width: 150px;
    margin-top: 1.3em;
    padding: 7px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.start-button:hover {
    background:white ;
    color: black;
}

.instructions {
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 3.0em;
    overflow-y: scroll;
}

.instructions::-webkit-scrollbar {
    display: none;
}