@import url(fontMaster.css);

.GamingArea {
    height: 80vh;
    width: 90vw;
    background: transparent;
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
